#basic-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#stats {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

#combat-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 5px;
}

p {
    font-size: medium;
}

#card {
    border: solid;
}

.stat {
    border: solid;
}